<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>プロフィール編集</title>
</head>

<body>

    <h1>プロフィール編集</h1>

    <form th:action="@{/mypage/profile}"
          method="post"
          th:object="${profileForm}">

        <div>

            <label for="username">ユーザー名</label>

            <!-- usernameの入力欄をここに書く -->
			<input type="text"
				id="username"
				th:field="*{username}">

            <!-- usernameのエラー表示をここに書く -->
			<p th:if="${#fields.hasErrors('username')}"
				th:errors="*{username}">
			</p>
		</div>

        <button type="submit">更新</button>

    </form>

    <a th:href="@{/mypage}">マイページへ戻る</a>

</body>

</html>